<!DOCTYPE html>
{% load bootstrap5 %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Reservar Banho</title>
    {% bootstrap_css %}
</head>
<body>
    <main class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-12 px-0">
                <h1 class="display-4 fst-italic" align="center">Reservas de Banhos:</h1>
            </div>
            <hr>
        </div>
        {% if sucesso %}
            <p class="alert alert-success">Inscrição enviada com sucesso!</p>
        {% else %}
        <div class="col-md-6">
                {# Formulário para coletar informações do usuário: #}
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <hr>
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    {% endbuttons %}
                </form>
        </div>
        {% endif %}
    </main>
</body>
</html>